body {
  margin: 0;
  font-family: "Open Sans",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8d8d8d;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: "Playfair Display",serif;
  font-weight: 500;
  line-height: 1.2;
  color: #202135;
}
.back-to-top {
    position: fixed !important;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Fonts ***/
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/*** Button ***/
.btn {
    position: relative;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-dark,
.btn-primary {
    margin: 10px;
}

.btn-primary::before,
.btn-primary::after {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
}

.btn-primary::before {
    top: -10px;
    height: calc(100% + 20px);
    border-left: 2px solid var(--bs-primary);
    border-right: 2px solid var(--bs-primary);
}

.btn-primary::after {
    left: -10px;
    width: calc(100% + 20px);
    border-top: 2px solid var(--bs-primary);
    border-bottom: 2px solid var(--bs-primary);
}

.btn-dark::before,
.btn-dark::after {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
}

.btn-dark::before {
    top: -10px;
    height: calc(100% + 20px);
    border-left: 2px solid var(--bs-dark);
    border-right: 2px solid var(--bs-dark);
}

.btn-dark::after {
    left: -10px;
    width: calc(100% + 20px);
    border-top: 2px solid var(--bs-dark);
    border-bottom: 2px solid var(--bs-dark);
}
.text-chery{
color:#cf565d;
}
/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    margin: 0 12px;
    padding: 0;
    outline: none;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--bs-dark);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #cf565d;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item.active {
    color: var(--bs-white);
    background: #cf565d;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
		font-family: "Playfair Display", serif;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.navbar .btn-primary {
    border-width: 2px;
    background: var(--bs-light);
}

.navbar .btn-primary:hover {
    background: var(--bs-primary);
}


/*** Hero Header ***/
.hero-header {
    background: url(../img/hero-bg.jpg) top left no-repeat;
    background-size: cover;
}

@media (min-width: 992px) {
    .hero-header .container {
        max-width: 100% !important;
    }

    .hero-header .hero-header-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .hero-header .hero-header-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .hero-header .hero-header-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}

.header-carousel .owl-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next{
    position: relative;
    margin-left: 2px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #bc3b44;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    color: var(--bs-white);
}

.page-header {
    background: url(../img/page-header.jpg) center center no-repeat;
    background-size: contain;
}

/**** About CSS ****/

.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img {
    position: relative;
    height: 100%;
    margin: 60px 0 0 60px;
}

.about .about-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.about .about-img::before {
    position: absolute;
    content: "";
    top: -60px;
    right: 60px;
    bottom: 60px;
    left: -60px;
    background: #1d2434;
    z-index: 0;
}

.about .about-img::after {
    position: absolute;
    content: "";
    top: -30px;
    right: 30px;
    bottom: 30px;
    left: -30px;
    background: transparent;
    border: 1px solid #ffffff;
    z-index: 2;
}

.about .about-text p {
    font-size: 16px;
}

.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    border: 2px solid #1d2434;
    border-radius: 0;
    transition: .3s;
}

.about .about-text a.btn:hover {
    color: #fff;
    background: #1d2434;
}

@media (max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}

/*** Service Start ***/
.service .service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2) ;
}

.service .service-item .service-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item .service-img::before {
    width: 100%;
    height: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
    z-index: 5;
    
}

.service .service-item:hover .service-img::before {
    height: 100%;
    background: rgba(21, 185, 217, .3);
}

.service .service-item .service-img:hover img {
    transform: scale(1.3);
}

.service .service-item .service-content {
    position: relative;
    z-index: 2;

}

.service .service-item .service-content::before {
    width: 100%;
    height: 8px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*background: rgba(21, 185, 217, .5);*/
	background: rgba(233, 169, 176, .5);
    transition: 0.5s;
    z-index: 3;
}

.service .service-item:hover .service-content::before {
    background: rgba(233, 169, 176, .5);
    height: 100%;
}

.service .service-item .service-content .service-content-inner {
    transition: 0.5s;
}


.service .service-item:hover .service-content .service-content-inner {
    position: relative;
    color: #000 !important;
    z-index: 9;
}
.service .service-item:hover .service-content .service-content-inner h5 {
    color: #000;
}
/*** Section Title Start ***/
.section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid #cf565d !important;
}

.section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid #cf565d !important;
}
.sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid #cf565d !important;
}

.sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid #cf565d !important;
}

/*** Service End ***/















/*** Service ***/
@media (max-width: 768px) {
    .service .service-item {
        border: none !important;
        box-shadow: 0 0 45px rgba(0, 0, 0, .05);
    }
}

@media (min-width: 992px) {
    .service .service-item.border-lg-end {
        border-right: 1px solid #dee2e6;
    }

    .service .service-item.border-lg-end-0 {
        border-right: none !important;
    }

    .service .service-item.border-lg-bottom-0 {
        border-bottom: none !important;
    }
}

.service .service-item .btn-primary {
    border-width: 2px;
    background: var(--bs-white);
}

.service .service-item .btn-primary:hover {
    background: var(--bs-primary);
}

.service .service-item img {
    width: 70px;
    margin-bottom: 20px;
}


/*** Team ***/
.team {
    position: relative;
}

.team::before {
    position: absolute;
    content: "";
    width: 200%;
    height: 200px;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    margin-top: 1rem;
    background: #e69a9e;
}

.team-item img {
    transition: .5s;
}
  
.team-item:hover img {
    transform: scale(1.2);
}
  
.team-overlay {
    position: absolute;
    padding: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    text-align: center;
    background: rgba(255, 255, 255, .5);
    transition: .5s;
    z-index: 1;
}

.team-item:hover .team-overlay {
    background: rgba(255, 255, 255, .9);
}

.team-overlay p {
    letter-spacing: 1px;
}

.team-overlay .btn-dark {
    border-width: 2px;
    color: var(--bs-dark);
    background: transparent;
}

.team-overlay .btn-dark:hover {
    color: var(--bs-white);
    background: var(--bs-dark);
}

.btn-chery{
	background:#e4999e;
}
/*** Testimonial ***/
.testimonial-carousel .owl-item {
    position: relative;
}

.testimonial-carousel .owl-item::before {
    position: absolute;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .1;
}

.testimonial-carousel .owl-item img {
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.testimonial-carousel .owl-item,
.testimonial-carousel .owl-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item span {
    letter-spacing: 2px;
}

.testimonial-carousel .owl-item.center .bg-chery {
    background: #d0585f !important;
	color:#fff;
}

.testimonial-carousel .owl-item.center .bg-light * {
    color: #000 !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: var(--bs-dark);
    background: #d0585f;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--bs-white);
    background: var(--bs-dark);
}

/*** slider icon logo ***/

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: pr;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}


/*** Footer ***/
@media (min-width: 992px) {
    .footer::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        
    }
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: rgba(255, 255, 255, .5);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: var(--bs-primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: rgba(255, 255, 255, .5);
    margin-right: 10px;
}
/*** Appointment  Start ***/
.appointment {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/appointment-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.appointment .appointment-form {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .4));
    object-fit: cover;
    border-radius: 10px;
}

.appointment .appointment-time {
    background: linear-gradient(rgba(247, 183, 187, 0.2), rgba(247, 183, 187, .2));
    object-fit: cover;
    border-radius: 10px;
}
.appointment .form-control::placeholder {
  color: #fff;
  opacity: 1;
}
.appointment .form-select {
	color: #fff;

}
.appointment .form-control {
	color: #fff;

}

/*** Appointment End ***/
.appointment .bg-chery{
	background:#f8626c;
}
.bg-chery1{
	background:#f8626c;
}
/********* Pricing CSS *********/

.price {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.price .price-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 30px;
    background: rgba(29, 36, 52, .04);
    transition: .3s;
}

.price .price-item:hover {
    background: #D5B981;
}

.price .price-img {
    position: relative;
    width: 100px;
}

.price .price-img img {
    width: 100%;
}

.price .price-img::after {
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: transparent;
    border: 1px solid #ffffff;
    z-index: 1;
}

.price .price-text {
    position: relative;
    padding: 0 15px;
    width: calc(100% - 100px);
    overflow: hidden;
}

.price .price-text h2 {
    position: relative;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.price .price-text h3 {
    position: relative;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

/*======bridal=========*/
.bridal-section{
padding:60px 20px;
background:#fff0f5;
text-align:center;
}


.bridal-section h2{
font-size:36px;
color:#d63384;
margin-bottom:10px;
}

.subtitle{
color:#555;
margin-bottom:40px;
}

.bridal-content{
display:flex;
align-items:center;
gap:40px;
flex-wrap:wrap;
}

.bridal-text{
flex:1;
text-align:left;
color:#000;
}

.bridal-text ul{
margin-top:15px;
padding-left:20px;
}

.bridal-text li{
margin-bottom:8px;
}

.bridal-section .btn{
display:inline-block;
margin-top:20px;
padding:10px 25px;
background:#d63384;
color:#fff;
text-decoration:none;
border-radius:5px;
}

.bridal-section .btn:hover{
background:#b02a6b;
}

.bridal-image{
flex:1;
border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #DD6B33;
}





